<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini project | home </title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-black text-white p-10">
          <h1 class="text-center w-full text-3xl p-5">Sign in</h1>
          <form action="/login" method="post" class="w-160 h-50 bg-transparent border-3 border-sky-500 flex flex-col justify-between p-4 m-auto">
            <input type="email" name="email" placeholder="Enter E-Mail" class="h-10 bg-zinc-600 p-2 outline-none rounded-md">
            <input type="password" name="password" placeholder="Enter Password" class="h-10 bg-zinc-600 p-2 outline-none rounded-md">
            <input type="submit" value="Login user" class="h-10 bg-blue-600 hover:bg-blue-700 px-3 py-2  outline-none rounded-md">
          </form>
    </div>
</body>
</html>